<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="bootstrap/test.php" colors="true" stopOnFailure="false">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_DEBUG" value="true"/>
    <env name="JWT_SECRET" value="test-secret-key-minimum-32-characters"/>
    <env name="JWT_TTL" value="3600"/>
    <env name="DB_HOST" value="127.0.0.1"/>
    <env name="DB_PORT" value="3306"/>
    <env name="DB_NAME" value="monolito_test"/>
    <env name="DB_USER" value="root"/>
    <env name="DB_PASS" value=""/>
    <env name="LOG_CHANNEL" value="stderr"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">app/</directory>
    </include>
  </source>
</phpunit>
